<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io('http://localhost:5000');
    socket.on('news', (data) => {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
    });
</script>